body {
    font-family: "Segoe UI", Tahoma, sans-serif;
    background-color: #0d1117;
    color: #e6edf3;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background-color: #161b22;
    padding: 10px 0;
    border-bottom: 2px solid #1f6feb;
}

img {
    object-fit: cover;
    width: 300px;
    border-radius: 15%;
}

.style_for_block {
    margin: 0;
    padding: 20px;
    background: #1c2128;
    border: 1px solid #30363d;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 20px
}

.links li a {
    text-decoration: none;
    color: #1f6feb;
    font-weight: bold;
    font-size: 1.1em;
    position: relative;
    padding: 5px 0;
    transition: color 0.3s, border-bottom 0.3s;
    border-bottom: 2px solid transparent;
}

.links li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #1f6feb;
    transition: width 0.3s;
}

.links li a:hover {
    color: #ffffff;
    border-bottom: 2px solid #1f6feb;
}

.links li a:hover::after {
    width: 100%;
}

.links li a.reverse::after {
    left: auto;
    right: 0;
    width: 0;
}

.links li a.reverse:hover::after {
    width: 100%;
}

.buttons {
    display: block;
    justify-content: center;
    gap: 5px;
    margin: 10px;
}

.buttons button {
    background: linear-gradient(90deg, #1f6feb, #4655F2);
    color: #ffffff;
    font-weight: bold;
    font-size: 1em;
    padding: 10px 20px;
    margin: 5px auto;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.buttons button:hover {
    background: linear-gradient(90deg, #4655F2, #1f6feb);
    transform: scale(1.02);
}

.buttons button:active {
    transform: scale(0.95);
}

#mission::after {
    content: "\1F4BB \1F4C1";
    display: block;
    margin-top: 10px;
    font-size: 1.2em;
}

#founders {
    margin: 20px auto;
    border: 1px solid #30363d;
    border-collapse: collapse;
    transition: transform 0.3s ease;
}

#founders caption {
    padding: 20px;
}

#founders:focus {
    transform: translateX(2%);
}

#founders th, #founders td {
    border: 1px solid #30363d;
    padding: 8px 12px;
}

/* Hover is used because animation is not supported for selection  */
#contacts:hover {
    animation: hover_anim 1s forwards;
    animation-delay: 2s;
}

@keyframes hover_anim {
    0% {
        background-color: #1f6feb;
        color: #ffffff;
    }
    100% {
        background-color: #4655F2;
        color: #000000;
    }
}

footer .links{
    justify-content: flex-end;
}
