body {
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-template-rows: auto 1fr auto;
}

#mission::after {
    content: "\1F4BB \1F4C1";
    display: block;
    font-size: 1.2em;
    margin-top: 10px;
}

#founders {
    border: 1px solid #30363d;
    border-collapse: collapse;
    transition: transform 0.3s ease;
    margin: 20px auto;
}

#founders caption {
    padding: 10px;
}

#founders:focus {
    transform: translateX(2%);
}

#founders th, #founders td {
    border: 1px solid #30363d;
    padding: 8px 12px;
}

footer {
    background: #161b22;
    border-top: 1px solid #30363d;
    grid-area: footer;
    padding: 15px;
}

footer .links {
    justify-content: flex-end;
}

#contacts:hover {
    animation: hover_anim 1s forwards;
    animation-delay: 2s;
}

@keyframes hover_anim {
    0% {
        background-color: #1f6feb;
        color: #ffffff;
    }
    100% {
        background-color: #4655F2;
        color: #000000;
    }
}
