.header_class {
    align-items: center;
    background-color: #161b22;
    border-bottom: 2px solid #1f6feb;
    display: flex;
    justify-content: space-between;
    text-align: center;
    position: sticky;
    width: 100%;
}

.projects_img {
    object-fit: cover;
    width: 300px;
    border-radius: 15%;
}

.projects_logo_container {
    display: flex;
    justify-content: center;
    margin: 5px;
    gap: 15px;
}

.style_for_block {
    background-color: #0f1a2b;
    border: 2px solid #1f3b6f;
    border-bottom-style: double;
}

.style_for_block h3 {
    font-weight: bolder;
    font-style: italic;
    font-size: 1.3em;
    line-height: 1.5em;
}

.style_for_block img {
    transition: filter 0.5s;
}
.style_for_block img:hover {
    filter: grayscale(100%);
}
